.home-image {
  float: right;
  margin: 20px 0 20px 20px !important;
}

.home-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

footer {
  padding-bottom: 2em !important;
}

a {
  color: #8812C7 !important;
  border-bottom: 1px solid #8812C7 !important;
}

a:hover {
  background-color: #8812C7 !important;
  color: #fff !important;
}